<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/jobs}">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/forms}">Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/job}">Add new job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/form}">Add new form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/categories}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/regions}">Regions</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search">
            <button class="btn btn-light" style="color: #1b2024" type="button">Search</button>
        </form>
    </div>
</nav>

<div class="card bg-dark text-white" style="max-width: 800px; width: 50%; margin: 5% auto;" th:each="form : ${forms}">
    <div class="card-body">
        <span th:text="${form.name}">
            Name
        </span>
        <span th:text="${form.getCategory()}">Category</span>
        <h5 th:text="${form.getPosition()}">Position</h5>
        <span th:text="${form.getPhone()}">phone</span>
        <span th:text="${form.getEmail()}">email</span>
        <a class="btn btn-light" style="color: #1b2024" th:href="@{/forms/{id}(id=${form.id})}">Info</a>
        <a class="btn btn-light" style="color: #1b2024" th:href="@{/forms/{id}/update(id=${form.id})}">Edit</a>
        <a class="btn btn-light" style="color: #1b2024" th:href="@{/form/{id}(id=${form.id})}">Delete</a>
    </div>
</div>
</body>
</html>