<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/forms}">Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/job}">Add new job</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search">
            <button class="btn btn-light" style="color: #1b2024" type="button">Search</button>
        </form>
    </div>
</nav>

<div class="card bg-dark text-white" style="max-width: 800px; width: 50%; margin: 5% auto;">
    <div class="card-body">
        <span th:text="${job.getName()}">
            Job
        </span>
        <span th:text="${job.company}">Company</span>
        <hr>
        <h5 th:text="${job.region}">Region</h5>
        <hr>
        <h5 th:text="${job.category}">Category</h5>
        <hr>
        <h5 th:text="${job.jobDetails}">Description</h5>
        <hr>
        <h5 th:text="${job.benefits}">Benefits</h5>
        <hr>
        <h5 th:text="${job.salary}">Salary</h5>
        <hr>
        <h5 th:text="${job.email}">Email</h5>
        <hr>
        <h5 th:text="${job.phone}">Phone</h5>
        <hr>
        <h5 th:text="${job.time}">Time</h5>
    </div>
</div>
</body>
</body>
</html>