<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/jobs}">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/forms}">Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/job}">Add new job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/form}">Add new form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/categories}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/regions}">Regions</a>
            </li>
        </ul>
        <form class="d-flex" th:action="@{/jobs}" method="get">
            <input class="form-control me-2" type="text" placeholder="Search" name="keyword" th:value="${keyword}">
            <button class="btn btn-light" style="color: #1b2024" type="button">Search</button>
        </form>
    </div>
</nav>

<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">

            <h1 class="text-white mb-4">Update Job</h1>

            <div class="card" style="border-radius: 15px">
                <div class="card-body" style=" background-color: #1b2024">

                    <form th:action="@{/jobs/{id}(id=${job.id})}" th:object="${job}" method="post">

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0" style="color: #949292">Name</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input th:field="*{name}" type="text" class="form-control form-control-lg" placeholder="Job title"/>

                            </div>
                        </div>

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0" style="color: #949292">Company</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input th:field="*{company}" type="text" class="form-control form-control-lg"
                                       placeholder="Your company name"/>

                            </div>
                        </div>

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0" style="color: #949292">Region</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input th:field="*{region}" type="text" class="form-control form-control-lg" placeholder="Job location"/>

                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0" style="color: #949292">Job details</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <textarea th:field="*{jobDetails}" class="form-control" rows="3"
                                          placeholder="Job description"></textarea>

                            </div>
                        </div>

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0" style="color: #949292">Benefits</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <textarea th:field="*{benefits}" class="form-control" rows="3"
                                          placeholder="Your job benefits"></textarea>

                            </div>
                        </div>

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0" style="color: #949292">Salary</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input th:field="*{salary}" type="text" class="form-control form-control-lg" placeholder="Salary">

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0" style="color: #949292">Email address</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input th:field="*{email}" type="email" class="form-control form-control-lg"
                                       placeholder="example@example.com"/>

                            </div>
                        </div>

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0" style="color: #949292">Phone number</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input th:field="*{phone}" type="text" class="form-control form-control-lg"
                                       placeholder="Company phone number"/>

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="px-5 py-4">
                            <button type="submit" class="btn btn-light" style="color: #1b2024">Update job</button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>